# Quarto
/.quarto/
/*_files/
/*_cache/
_site/
_site/*
#*.html
**/*.quarto_ipynb

# VS Code
#.vscode/settings.json

# Python
__pycache__/
.venv/
*.pyc

# Data
data/FabCore_Usage_Data_Expanded.csv
data/Processed_Dashboard_Data.csv
data/PythonTest_RegistroUso.csv
data/PythonTest_Usuarios.csv
data/PythonTest_Cursos.csv

# OS
.DS_Store
Thumbs.db
